/*Not an expert in styling...*/

#wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 600px;
    height: 800px;

    position: relative;

    visibility: hidden;
}

table {
    width: 200px;
}

#choice {
    position: absolute;
    left: 0px;
    top: 400px;
}

#player_choice {
    position: absolute;
    left: 0px;
}

#score {
    position: absolute;
    right: 0px;
    top: 0px;
}

#timer {
    visibility: hidden;
}

#correct_answer {
    position: absolute;
    right: 0px;
    top: 370px;
}

td {
    border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 50px;
}

#btn_wrap {
    position: relative;

    left: 46%;

    margin-left: auto;
    margin-right: auto;
}